@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-color: antiquewhite;
    height: 100vh;
}
.title{
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
   margin: 100px auto 0px auto;
    }
    .title h1{
        text-align: center;
        color: #262626;
        font-size: 32px;
        font-weight: 500;
        }
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   background-color: antiquewhite;
   width: 500px;
   border:1px solid #262626;
   padding: 200px 10px;
}
.card,
#scratch{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   margin: 0% auto;
    width: 300px;
    height: 300px;
    cursor: grabbing;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center; 
    background:#f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(26, 26, 26, 0.2);
}
.card h1{
    text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #262626;
}
.card img{
    width: 150px;
    height: 150px;

}
#scratch {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }