@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background: url('3d-dark-grunge-display-background-with-smoky-atmosphere.jpg');
    background-size: cover;
    height: 100vh;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px;
 justify-content: center;
 align-items: center;
}
.main h1{
 color: #fff;
 font-weight: 500;
 letter-spacing: 1px;
}
.main input{
    margin-top: 50px;
   width: 320px;
   height: 50px;
   border: none;
   outline: none;
   padding: 10px 20px;
   font-size: 14px;
   font-weight: 500;
   border-radius: 10px;
   }
   .main button{
    margin-top: 50px;
    width: 180px;
    height: 50px;
    background-color: cadetblue;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    transition:background-color .3s, color .3s;
   }
   .main button:hover{
   background-color: #fff;
   border: 2px solid cadetblue;
   color: cadetblue;
   }
   .alert{
    display: flex;
    width: 200px;
    justify-content: left;
    margin: 10px 0px 0px -100px;
    font-size: 12px;
    color: red;
   }
   .success{
    display: flex;
    width: 200px;
    justify-content: left;
    margin: 0px 0px 0px -100px;
    font-size: 12px;
    color: green;
    font-weight: 500;
   }
   .loading{
    display: flex;
    width: 200px;
    justify-content: left;
    margin: 0px 0px 0px -100px;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
   }