body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background: url('/3d-render-digital-particles-techno-background.jpg');
}
.main{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
h1{
    display: flex;
    color: aliceblue;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    
    text-align: center;
}
.main textarea{
    width: 400px;
    height: 100px;
  
    border: 4px solid transparent;
    border-image: linear-gradient(to top,#851199,#ac38ef,#ef38d3)1;
    background-clip: padding-box;
    box-sizing: border-box;
}
.main img{
    width: 70px;
    height: 70px;
    cursor: pointer;
}
