@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-color:aliceblue;
    height: 100vh;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    border: 1px solid #262626;
    padding: 10px;
    border-radius: 20px;
}
.main input{
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0.2, 0.2);
    border-radius: 10px;
    padding: 20px;
}
.image-area{
    margin-top: 20px;
    width: 400px;
    height: 300px;
    border: 1px dashed #262626;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-area iframe{
    width: 390px;
    height: 290px;
}
.image-area i{
  font-size: 42px;
}
.main button{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    color: aliceblue;
    background-color: cadetblue;
    border: none;
    font-size: 22px;
    font-weight: 500;
    transition: background-color .3s;
}
.main button:hover{
    background-color: #fff;
    border: 1px solid cadetblue;
    color: cadetblue;
}