@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-color: antiquewhite;
    height: 100vh;
}
.title{
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
   margin: 300px 10px 0px auto;
    }
    .title h1{
        text-align: center;
        color: #262626;
        font-size: 32px;
        font-weight: 500;
        }
.main{
    position: absolute;
    top: 95%;
    left: 90%;
    transform: translate(-90%,-90%);

}
.container{
    display: none;
    width: 350px;
    border: none;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 20px 20px;
    justify-content: space-between;
    gap: 10px;
}
.container img{
width: 110px;
height: 60px;
margin-left: -20px;

}
.container i{
   margin-top: -10px;
   font-weight: 700;
   font-size: 18px;
   margin-left: 10px;
    }

    .message{
        font-size: 14px;
        font-weight: 500;
        margin-left: -30px;
    }
    .time{
        margin-top: 10px;
        font-size: 12px;
        font-weight: 400;
        margin-left: -25px;
    }