@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%  auto;
    background: url('3d-render-digital-particles-techno-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    
}
.main h1{
    display: flex;
    color: #fff;
    margin: 20px auto;
    letter-spacing: 3px;
    font-weight: 500;
    color: aquamarine;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
   

}
.container{
  
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0% auto;
   width: 100%;
   height: 100%;
   border: 1px solid #fff;
   padding: 50px 20px;
}
.text,.dropdown{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0% auto;
}
.text label,.dropdown label{
    font-size: 16px;
    color: #fff;
}
.text textarea{
    width: 350px;
    height: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.dropdown {
   margin-top: 30px;
}

.dropdown select{
    width: 350px;
    height: 30px;
}
.textconvert-btn button{
    margin-top: 50px;
  background-color: cadetblue;
  font-size: 18px;
  width: 400px;
  height: 40px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
  transition:background-color .3s ,color .3s,border .3s  ;
}
.textconvert-btn button:hover{
    background-color:#fff;
    color: cadetblue;
    border:2px solid cadetblue ;
}